
.idea/misc.xml
.gradle/file-system.probe
.gradle/config.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.4/fileHashes/fileHashes.lock
.gradle/8.4/fileHashes/fileHashes.bin
.gradle/8.4/dependencies-accessors/executionHistory.bin
.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
.gradle/8.4/checksums/sha1-checksums.bin
.gradle/8.4/checksums/md5-checksums.bin
.gradle/8.4/checksums/checksums.lock
